<!DOCTYPE html>
<html>
    <head>
        <title>Weather application</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            
        mark { 
            background-color: rgb(0, 7, 214);
            color: rgb(255, 255, 255);
        }
        .result-div {
            width: 293px;
            padding: 10px;
            border: 5px solid gray;
            margin: 0;
        }
        </style>
    </head>
    <body>
        <center>
        <h2><mark>Weather application</mark></h2>
        <br/>

        <div class="result-div">
            <img src="http://openweathermap.org/img/wn/{{ data['icon']}}.png"/><br/>
            <font color="#FF7A59">City</font> <p>{{ data['city'] }}</p>
            <font color="#FF7A59">Longitude</font> <p>{{ data['longitude'] }}</p>
            <font color="#FF7A59">Latitude</font> <p>{{ data['latitude'] }}</p>
            <font color="#FF7A59">Humidity</font> <p>{{ data['humidity'] }}%</p>
            <font color="#FF7A59">Temperature</font> <p>{{ data['temperature'] }}°C</p>
        </div>
        </center>
        <br/>
        <hr/>

    </body>
</html>
